.bank {
  min-height: 150px;

  .bank__logo {
    width: 160px;
    height: 101px;
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;

    &.bank__logo_first {
      margin-top: 11px;
      background-position: bottom -118px left -163px;
    }

    &.bank__logo_second {
      margin-top: 15px;
      background-position: bottom -187px left -311px;
    }

    &.bank__logo_third {
      margin: 8px 2px 0 16px;
      background-position: bottom -17px left -153px;
      width: 142px;
    }

    &.bank__logo_fourth {
      margin-top: 10px;
      background-position: bottom -12px left 11px;
    }
  }

  .bank__prices {
    width: 100px;
    display: inline-block;

    .bank__text {
      font-family: $primary-text;
      color: $darker-text-color;
      font-size: 16px;
      margin: -2px 0 0 7px;

      .bank__bold-text {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .bank__title {
    font-family: $primary-text;
    font-size: 18px;
    font-weight: bold;
    color: $primary-text-color;
    margin: -6px 0 0 60px;
  }
}
