$light-green: #00b297;
$green: #0fa08a;
$red: #d4524b;
$yellow: #f1c40f;
$white: #ffffff;
$bg-color: #f0eff0;
$cell-grey: #dfe1e5;
$screen-grey: #b2b6bd;
$primary-text-color: #404041;
$darker-text-color: #424243;
