.conditions {
  max-width: 1179px;
  height: 718px;

  .conditions__title {
    font-family: $primary-text;
    font-size: 36px;
    color: $darker-text-color;
    margin: 48px 0 0 -4px;

  }

  .conditions__steps {
    max-width: 1179px;
    height: 305px;
  }
}
