@import "bower_components/foundation-sites/scss/foundation.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');
$primary-text: 'PT Sans', sans-serif;

@import "./colors.scss";
@import "./scheme.scss";
@import "./bank.scss";
@import "./providers-table.scss";
@import "./monitor.scss";
@import "./conditions.scss";
@import "./step.scss";

@include foundation-everything;

.main-container {
  max-width: 1280px;
  min-height: 1300px;
  margin: 0 auto;
  padding: 67px 0 0 49px;
  background-color: $bg-color;

  #scroll-btn {
    width:50px;
    height:50px;
    display: none;
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    background-position: left -76px top -118px;
    opacity: 0;
    right: 17%;
    bottom: 1%;
    position: fixed;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;

    @media screen and (max-width: 1260px) {
      right: 1%;
    }
  }
}
