.scheme .scheme__arrows-group .scheme__arrow {
  &.monitor__arrow__special {
    margin-top: 324px;
    margin-left: -70px;
    display: none;
    @media only screen and (min-width : 1024px) and (max-width : 1200px) {
      display: block;
    }
  }

  &.monitor__arrow {
    @media only screen and (min-width : 1024px) and (max-width : 1200px) {
      display: none;
    }
  }
}


.monitor {
  width: 305px;
  height: 300px;
  margin: 225px 0 0 -49px;
  @media only screen and (min-width : 1024px) and (max-width : 1200px) {
    margin-top: 0px;
    margin-left: -100px;
  }
  @media screen and (max-width: 1023px) {
    margin: 20px auto;
  }

  .monitor__screen {
    width: 304px;
    height: 181px;
    border: 12px solid $darker-text-color;
    border-radius: 7px 7px 0 0;
    background-color: $screen-grey;

    .monitor__triangle {
      background-image: url('../images/Untitled-1.png');
      background-repeat: no-repeat;
      width: 157px;
      height: 157px;
      background-position: top -22px left 0;
      margin-left: 122px;
      position: absolute;
      z-index: 0;
    }

    .monitor__price {
      width: 115px;
      height: 68px;
      display: inline-block;
      margin: 48px -5px 0 17px;
      position: relative;
      z-index: 1;

      &.monitor__price_red {
        background-color: $red;
      }

      &.monitor__price_green {
        background-color: $green;
      }

      .monitor__text {
        font-family: $primary-text;
        font-size: 24px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: -9px;

        &.monitor__text_bold {
          font-weight: bold;
        }
      }
    }
  }

  .monitor__bottom {
    width: 304px;
    height: 28px;
    border-radius: 0 0 7px 7px;
    background-color: $cell-grey;

    .monitor__logo {
      width: 70px;
      height: 18px;
      background-image: url(../images/spritesheet.png);
      background-repeat: no-repeat;
      background-position: bottom -135px left -4px;
      padding-top: 40px;
      margin-left: 123px;
    }
  }

  .monitor__stand {
    width: 181px;
    height: 40px;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    background-position: bottom -130px left -317px;
    margin-left: 67px;
  }
}
