.providers-table {
  width: 393px;
  margin: 16px 0 0 -15px;
  border-collapse: separate;
  @media screen and (max-width: 1023px) {
    margin: 0 auto;
  }

  .providers-table__head {
    background-color: $light-green;
    border: none;
    box-sizing: border-box;

    .providers-table__head-row {
      height: 40px;
      line-height: 39px;

      .providers-table__cell {
        width: 90px;
        height: 35px;
        vertical-align: middle;
        padding: 2px 0 0 11px;

        .providers-table__text {
          font-family: $primary-text;
          font-size: 16px;
          text-align: left;

          &.providers-table__text_itallic_white {
            font-style: italic;
            color: $white;
            font-weight: 400;
          }
        }
      }
    }
  }

  .providers-table__body {
    border: none;

    .providers-table__row {
      background-color: $white;

      .providers-table__cell {
        width: 90px;
        height: 44px;
        padding: 0;
        border-top: 5px solid $white;
        border-left: 7px solid $white;
        border-bottom: 0px solid $white;
        border-right: 2px solid $white;
        padding-left: 4px;

        &.providers-table__cell_grey {
          background-color: $cell-grey;
        }

        &.providers-table__cell_red {
          background-color: $red;
        }

        &.providers-table__cell_yellow {
          background-color: $yellow;
        }

        &:first-child {
          padding-left: 13px;
        }

        .providers-table__text {
          font-family: $primary-text;
          font-size: 16px;

          &.providers-table__text_bold {
            font-weight: bold;
          }

          &.providers-table__text_white {
            color: $white;
          }
        }
      }
    }
  }
}
