.scheme {
  max-width: 1179px;
  padding-bottom: 29px;
  background-color: $white;

  .scheme__title {
    width: 100%;
    text-align: center;
    font-family: $primary-text;
    font-size: 36px;
    color: $darker-text-color;
    padding: 31px 0 0 1px;
  }

  .scheme__banks {
    @media only screen
      and (min-width : 1024px)
      and (max-width : 1200px) {
      width: 20%;
    }
  }

  .scheme__arrows-group {
    margin-top: 75px;
    @media screen and (max-width: 63.9375em) {
      margin-top: 0;
    }

    .scheme__arrow {
      height: 125px;
      width: 80px;
      margin-left: -15px;
      background-image: url('../images/spritesheet.png');
      background-repeat: no-repeat;

      &.scheme__arrow_bottom {
        background-position: bottom -171px left -4px;
      }

      &.scheme__arrow_right1 {
        width: 59px;
        margin-left: -4px;
        background-position: bottom -194px left -176px;
      }

      &.scheme__arrow_right2 {
        width: 60px;
        height: 30px;
        margin: 59px 0 0 -4px;
        background-position: bottom -258px left -240px;
      }

      &.scheme__arrow_right3 {
        width: 60px;
        height: 45px;
        margin: 228px 0 0 -18px;
        background-position: bottom -215px left -233px;
      }

      &.scheme__arrow_top {
        margin-top: 25px;
        background-position: bottom -198px left -89px;
      }

      &.scheme__arrow_rotate {
        margin: 0 auto;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .scheme__center {
    .scheme__logo {
      width: 190px;
      height: 105px;
      background-image: url('../images/spritesheet.png');
      background-repeat: no-repeat;
      background-position: bottom -5px left -293px;
      margin: 36px auto 25px auto;
    }

    .scheme__table-title {
      font-size: 24px;
      font-weight: bold;
      font-family: $primary-text;
      color: $darker-text-color;
      text-align: center;
      word-spacing: -5px;
    }
  }
}
