.step {
  width: 100%;
  position: relative;

  .step__count {
    font-family: $primary-text;
    font-size: 44px;
    color: $screen-grey;
    position: absolute;
    left: 9px;
  }

  .step__count1 {
    top: 18px;
  }

  .step__count2 {
    top: -5px;
  }

  .step__count3 {
    top: -4px;
  }

  .step__count4 {
    top: -3px;
  }

  .step__title {
    font-family: $primary-text;
    font-size: 22px;
    color: $darker-text-color;
    margin: 0;
  }

  .step__text {
    max-width: 1100px;
    line-height: 21px;
    font-family: $primary-text;
    font-size: 16px;
    color: $darker-text-color;
    display: inline-block;
  }
}

.step1 {
  padding: 29px 0 0 45px;
}

.step2 {
  padding: 6px 0 0 48px;
}

.step3 {
  padding: 7px 0 0 47px;
}

.step4 {
  padding: 8px 0 0 49px;
}
